# Build output
/build/
**/build/
**/bin/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
**/!gradle/wrapper/gradle-wrapper.jar

# Локальный дистрибутив Gradle (распакованный архив)
/gradle-8.5/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
